@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body{
    height:  100%;
    font-family: "Poppins", sans-serif;
}

.nav-bar{
    display: flex;
    align-items:  center;
    background-color: rgb(102, 96, 96);
    list-style: none;
    width: auto;
    padding: 0 16px;
    box-shadow: 0 4px 6px rgb(4, 3, 3);
}

.nav-bar-left{
    display:  flex;
}

.dropdown{
    position:  relative;
    margin-right: 20px;
}

.drop-btn{
    background-color: rgb(95, 95, 95);
    color:  white;
    border:  none;
    cursor: pointer;
}

.dropdown-content{
    display:  none;
    position:  absolute;
    background-color: rgb(97, 96, 96);
    min-width: 200px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    color: white;
    padding: 15px 15px;
    text-decoration:  none;
    display: block;
}

.dropdown-content a:hover{
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}