<nav class="nav-bar">
    <div class="nav-bar-left">
        <ul class="dropdown">
            <button class="drop-btn">Démonstrations</button>
            <div class="dropdown-content">
                <a routerLink="/home">Home</a>
                <a routerLink="/demos/binding">Binding</a>
                <a routerLink="/demos/pipe">Pipe</a>
                <a routerLink="/demos/directive">Directive</a>
                <a routerLink="/demos/inputOutput">input output</a>
                <a routerLink="/demos/service">service</a>
                <a routerLink="/demos/formulaire">formulaire</a>
                <a routerLink="/demos/routing">routing</a>
            </div>
        </ul>

        <ul class="dropdown">
            <button class="drop-btn">Exercices</button>
            <div class="dropdown-content">
                <a routerLink="/exos/directive">Directive</a>
                <a routerLink="/exos/inputOutput">Shopping list (input output)</a>
                <a routerLink="/exos/service">Shopping list (service)</a>
            </div>
        </ul>
    </div>
</nav>